@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #c7cbd1;
  --background-hex: #15181d;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
